[flake8]
ignore =
    # whitespace before ':'
    E203,
    # line too long
    E501,
    # multiple statements on one line
    E704,
    # line break before binary operator
    W503,

    # Missing docstring in public module
    D100,
    # Missing docstring in public class
    D101,
    # Missing docstring in public method
    D102,
    # Missing docstring in public function
    D103,
    # Missing docstring in public package
    D104,
    # Missing docstring in magic method
    D105,
    # Missing docstring in __init__
    D107,
    # One-line docstring should fit on one line with quotes
    D200,
    # No blank lines allowed after function docstring
    D202,
    # 1 blank line required between summary line and description
    D205,
    # Multi-line docstring closing quotes should be on a separate line
    D400,
    # First line should be in imperative mood
    D401,
    # First word of the first line should be properly capitalized
    D403,

per-file-ignores =
    # F401: Ignore "imported but unused" errors in __init__ files, as those
    # imports are there to expose submodule functions so they can be imported
    # directly from that module
    # F403: Ignore * imports in these files
    duplicate_url_discarder/__init__.py:F401,F403
